<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes!</title>
</head>
<body>
    <h1>Cupcakes!</h1>
    <form id="new-cupcake-form">
        <label for ="form-flavor">Flavor:</label>
        <input name="flavor" id="form-flavor">
        <label for ="form-size">Size:</label>
        <input name="size" id="form-size">
        <label for ="form-rating">Rating:</label>
        <input type="number" name="rating" id="form-rating">
        <label for ="form-image">Image URL:</label>
        <input name="image" id="form-image">
        <button>Add Cupcake</button>
    </form>
    <ul id="cupcakes-list"></ul>

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/cupcakes.js"></script>
</body>
</html>